@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        @*<img inline="~/sathai-logo.svg" alt="logo" />*@
        <img src="~/sathai-logo.svg" alt="logo" />
        <gravatar email="support@microsoft.com" size="200" />
        <gravatar email="supprot@gravatar.com" size="200" rating="x" />
        <gravatar email="support@azure.com" size="200"  rating="x" mode="Identicon" />
    </div>
